<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringBoot Sample3-3</title>
</head>
<body>
    <div><a href="/logout">ログアウト</a></div>

    <h2>ユーザ名とロール名の表示(Sample3-4)</h2>
  java上でPrinciplesから値を取得する方法ではなく，thymeleaf-extras-springsecurityプラグインを利用してhtmlから直接ユーザ名やPrinciples（ロール情報）を取得する方法を試す．
  <!--sec:authenticationで認証情報にアクセスできる．nameはユーザ名を表す-->
  <h3>ユーザ名：<div sec:authentication="name"></div>
  </h3>
  <!--sec:authenticationで認証情報にアクセスできる．principal.authoritiesはロール名を表す-->
  <h3>ロール名：<div sec:authentication="principal.authorities"></div>
  </h3>

</body>
</html>